{%- assign async_attr = site.tracking.async | default: true -%}
{%- assign defer_attr = site.tracking.defer | default: false -%}

{%- if site.tracking.script_src -%}
  {%- assign _srcs = site.tracking.script_src -%}
  {%- for s in _srcs -%}
<script{% if async_attr %} async{% endif %}{% if defer_attr %} defer{% endif %} src="https://plausible.io/js/pa-OpLRUqU-eAWPy6_fvX79O.js"></script>
  {%- endfor -%}
{%- endif -%}

{%- if site.tracking.init -%}
<script>
  {{ window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init() }}
</script>

{%- endif -%}
